{% load staticfiles %}
<html>
<head>
	<title>Conjugate</title>
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}">
</head>
<body>
<div class="container" style="padding-top: 20px;">
	<div class="row">
    <div class="col-md-6" >
	<h1>Conjugate a verb!</h1>
	<form action="" method="get" align="center">
		<input type="text" name="verb" {% if verb %}placeholder="{{ verb }}"{% endif %} autofocus>
		<input type="submit" value="Conjugate!">
	</form>
	</div>
    <div class="col-md-6">
        <p>Or pick an irregular verb: 
        {% for v in irreg %}
        <a href="./?verb={{ v }}" class="btn btn-primary btn-sm">{{ v }}</a>
        {% endfor %}
        </p>
        <p>Or pick one of these: 
        {% for v in dbverbs %}
        <a href="./?verb={{ v}}">{{ v }}</a>
        {% endfor %}
        </p>
    </div>
	</div>
	{% if error %}
		<div class="row">
		<p>I don't know how to conjugate {{ verb }}. {{ error }}</p>
		</div>
	{% else %}
	{% if verb %}
	<div class="row">
        {% if conj_note %}
        <p>{{ conj_note }}</p>
        {% endif %}
	</div>
		{% if present %}
        <div class="row"><!-- Conjugation Row -->
		<div class="col-md-3">
		<h3>Present Tense:</h3>
		<table class="table" align="center">
			<tr><td align="right">Eu</td> <td>{{present.eu}}</td></tr>
			<tr><td align="right">Tu</td><td> {{present.tu}}</td>
			<tr><td align="right">Ela</td><td> {{present.ela}}</td>
			<tr><td align="right">Nós</td><td> {{present.nós}}</td>
			<tr><td align="right">Elas</td><td> {{present.elas}}</td>
		</table>
		</div>

        <div class="col-md-3">
        <h3>Past Definite (Preterite):</h3>
		<table class="table" align="center">
			<tr><td align="right">Eu</td> <td>{{preterit.eu}}</td></tr>
			<tr><td align="right">Tu</td><td> {{preterit.tu}}</td>
			<tr><td align="right">Ela</td><td> {{preterit.ela}}</td>
			<tr><td align="right">Nós</td><td> {{preterit.nós}}</td>
			<tr><td align="right">Elas</td><td> {{preterit.elas}}</td>
		</table>
        </div>

        </div><!-- End conjugation Row -->
		{% endif %}

		{% if imperfect %}
		<div class="row">
		<h3>Definite Past Tense (preterit):</h3>
		<p>Eu {{preterit.eu}}</p>
		<p>Tu {{preterit.tu}}</p>
		<p>Ela {{preterit.ela}}</p>
		<p>Nós {{preterit.nós}}</p>
		<p>Elas {{preterit.elas}}</p>
		</div>
		{% endif %}
	{% endif %}
	{% endif %}
</div>
</body>
</html>
