<html>
<head>
	<title>Conjugate</title>
</head>
<body>
	<form action="" method="get">
		<input type="text" name="verb">
		<input type="submit" value="Conjugate!">
	</form>
	{% if error %}
		<p>I don't know how to conjugate {{ verb }}. {{ error }}</p>
	{% else %}
	{% if verb %}
		<p>Conjugating the verb {{ verb }}.</p>
		<p>This is a {{ ending }}-verb with root {{ root }}.</p>
		<p>Eu {{present.eu}}</p>
		<p>Tu {{present.tu}}</p>
		<p>Ela {{present.ela}}</p>
		<p>Nós {{present.nós}}</p>
		<p>Elas {{present.elas}}</p>
	{% endif %}
	{% endif %}
</body>
</html>
